@font-face {
  font-family: 'Andis Regular';
  src: url('./Fonts/JAM\ Type\ Design\ -\ Andis\ Regular.otf');
}
@font-face {
  font-family: 'Chocolate TT';
  src: url('./Fonts/TT\ Chocolates\ Trial\ Light.otf');
}
h1, h2, h3 {
  font-family: 'Andis Regular', Tahoma, Geneva, Verdana, sans-serif;
}
* {
  font-family: 'Chocolate TT';
  color: white;
}
body {
  padding: 0;
  margin: 0;
  background-color: #272B33;
}
.EpisodeContainer {
  background-color: #3C3E44;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EpisodeContainer button {
  padding: 1rem;
  color: black;
}
.flexEpisodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.PersonajeContainer {
  width: 35%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.detalladoPersonaje {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: row;
  background-color: #3C3E44;
  border: 1px solid white;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1rem;
}
.listData li{
  color: white
}
.PersonajeContainer  button{
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  width: 41%;
  height: 4rem;
}
.DestacadosPersonajes {
  display: flex;
}
.SelectedPersonajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ContenedorBusqueda {
  display: flex;white-space: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.SearchForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  padding: 0 5rem;
}
.SearchForm * {
  padding: .5rem;
  color: black;
}
.SearchForm input {
  color: black;
}
.SearchForm select {
  color: black;
}
.SearchForm option {
  color: black;
}

.Principal {
  background-color: #FFFFFF;
  width: 100%;
}
.Principio {
  display: flex;
}
.Imagen {
  background-image: url('https://i.pinimg.com/736x/ef/5c/8c/ef5c8cebfd8dec27e15b030d68539bfd.jpg');
  width: 50%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.Volver {
  background-color: black;
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inside {
  width: 45%;
  display: flex;
  align-items: start;
}
.Volver h1 {
  text-align: justify;
}
.Content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 20rem;

}
.Content ul, li {
  color: black;
  margin: 1rem 0.2rem;
}
.textInDesign {
  color: black;
  text-align: justify;
}

.leblancLogo {
  position: absolute;
  content: "";
  z-index: 1;
  width: 200px;
  height: 200px;
  background-color: white;
}

.footer {
  background: #f6f6f6;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #222;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.newsletter input,
.newsletter select {
  flex: 1;
  padding: 16px 8px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox {
  margin: 10px 0;
  font-size: 12px;
  color: black;
}

.checkbox input {
  margin-right: 5px;
}

.checkbox a {
  color: #333;
  text-decoration: underline;
}

.newsletter button {
  padding: 10px;
  background: white;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.socials a {
  margin-right: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.badges img {
  height: 40px;
  margin-right: 10px;
}

footer h3 {
  color: black;
}