@font-face {
  font-family: 'Andis Regular';
  src: url('./Fonts/JAM\ Type\ Design\ -\ Andis\ Regular.otf');
}
@font-face {
  font-family: 'Chocolate TT';
  src: url('./Fonts/TT\ Chocolates\ Trial\ Light.otf');
}
h1, h2, h3 {
  font-family: 'Andis Regular', Tahoma, Geneva, Verdana, sans-serif;
}
* {
  font-family: 'Chocolate TT';
  color: white;
}
body {
  padding: 0;
  margin: 0;
  background-color: #272B33;
}
.EpisodeContainer {
  background-color: #3C3E44;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EpisodeContainer button {
  padding: 1rem;
  color: black;
}
.flexEpisodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.PersonajeContainer {
  width: 35%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.PersonajeContainer  button{
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  width: 41%;
  height: 4rem;
}
.DestacadosPersonajes {
  display: flex;
}
.SelectedPersonajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ContenedorBusqueda {
  display: flex;white-space: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.SearchForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  padding: 0 5rem;
}
.SearchForm * {
  padding: .5rem;
  color: black;
}
.SearchForm input {
  color: black;
}
.SearchForm select {
  color: black;
}
.SearchForm option {
  color: black;
}